body {
  background-color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
  background-color: #99cfe0;
}

.img1 {
  height: 10px;
  width: 10px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.image1 {
  display: block;
  width: 40%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } 

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 50px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .slider {
    height: 172px;
    width: auto;
    background-color: skyblue;
    border: 1px solid skyblue;
    position: relative;
    padding-left: 50px;
}

#num1 {
  text-align: center;
}

h1 {
  color: #008CBA;
}

.slider1 {
  height: 450px;
  width: auto;
  background-color: skyblue;
  border: 1px solid skyblue;
  position: relative;
}

#num2 {
  text-align: center;
}

#num3 {
  text-align: right;
  padding-left: 600px;
  padding-right: 100px;
  padding-top: 100px;
}

#num4 {
float: left; 
}

#num6 {
  float: right; 
  }